@import 'bootstrap/scss/bootstrap.scss';

$frame-width: 50px;

.app {
    text-align: center;
    overflow: hidden;
}

.page-nav {
    position: relative;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;

    div,
    a {
        color: white;
    }

    header {
        width: 100%;
        height: 100%;
    }

    .north-nav,
    .west-nav,
    .east-nav,
    .south-nav {
        background-color: #003366;
        width: 100%;
        height: $frame-width;
        line-height: $frame-width;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;
    }
    .west-nav {
        position: absolute;
        top: calc(50% - 25px);
        right: calc(50% - 25px);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .east-nav {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .south-nav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.page-content {
    position: absolute;
    top: $frame-width;
    bottom: $frame-width;
    left: $frame-width;
    right: $frame-width;
    overflow: hidden;
}

.slider-images {
    background: grey;
    img {
        width: 100%;
        object-fit: cover;
        margin: auto 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
}