$frame-width: 50px;
$content-width: calc(100vh - #{$frame-width});
$frame-color: #003366;

.app {
    text-align: center;
    overflow: hidden;
}

.page-nav {
    position: relative;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;

    div,
    a {
        color: white;
    }

    header {
        width: 100%;
        height: 100%;
    }

    .north-nav,
    .west-nav,
    .east-nav,
    .south-nav {
        background-color: $frame-color;
        width: 100%;
        height: $frame-width;
        line-height: $frame-width;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;

        cursor: pointer;
    }
    .west-nav {
        position: absolute;
        top: 100%;
        transform-origin: 0 0;

        -webkit-transform: rotate(-90deg);
        -moz-transform:     rotate(-90deg);
        -ms-transform:      rotate(-90deg);
        -o-transform:       rotate(-90deg);
        transform:          rotate(-90deg);
    }
    .east-nav {
        position: absolute;
        top: 0;
        left: 100%;
        transform-origin: 0 0;

        -webkit-transform:  rotate(90deg);
        -moz-transform:     rotate(90deg);
        -ms-transform:      rotate(90deg);
        -o-transform:       rotate(90deg);
        transform:          rotate(90deg);
    }
    .south-nav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform:  rotate(-180deg);
        -moz-transform:     rotate(-180deg);
        -ms-transform:      rotate(-180deg);
        -o-transform:       rotate(-180deg);
        transform:          rotate(-180deg);

    }
}

.page-content {
    position: absolute;
    top: $frame-width;
    bottom: $frame-width;
    left: $frame-width;
    right: $frame-width;
    overflow: hidden;
    //border: 1px solid black;
}

.slider-images {
    position: relative;
    background-color: $frame-color;
    height: 100%;

    img {
        height: $content-width;
        object-fit: cover;
        margin: 0 auto;
    }
    .slick-next {
        right: 0;
        z-index: 1;
    }
    .slick-prev {
        left: 0;
        z-index: 1;
    }
    .slick-dots {
        bottom: 0;
        z-index: 1;
    }
}